In [38]:
import joblib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix
)
from scipy import sparse

In [39]:
tfidf_matrix = joblib.load("../feature_engineering/scraped_tfidf_matrix.pkl")
X = joblib.load("../feature_engineering/scraped_feature_list.pkl")
model = joblib.load("logistic_model.pkl")

In [40]:
X.isnull().sum()

salary_avg_norm                            0
location_legitimacy                        0
loc_len                                    0
loc_word_count                             0
has_us_prefix                              0
has_state_code                             0
starts_with_direction                      0
contains_digits                            0
industry_group_Education                   0
industry_group_Engineering/Construction    0
industry_group_Finance                     0
industry_group_Government/Nonprofit        0
industry_group_Healthcare                  0
industry_group_Manufacturing/Industrial    0
industry_group_Other                       0
industry_group_Other Business/Services     0
industry_group_Retail/Hospitality          0
industry_group_Technology                  0
industry_group_Transportation              0
dtype: int64

In [41]:

X_test= X.copy()
X_test_other = sparse.csr_matrix(X_test.values)

# Combine with TF-IDF
X_test_combined = sparse.hstack([tfidf_matrix, X_test_other])

In [42]:
y_pred = model.predict(X_test_combined)

In [50]:
fraud_rows = X_test.iloc[y_pred == 1]  # rows predicted as 1
print(fraud_rows)

      salary_avg_norm  location_legitimacy  loc_len  loc_word_count  \
1        1.110914e-03                    5       14               3
2        9.831600e-04                    5       48               9
3        7.529442e-07                    5       49               7
4        3.999368e-04                    5       11               2
5        5.431196e-04                    1        9               1
...               ...                  ...      ...             ...
8222     1.641665e-06                    5       11               2
8223     8.331759e-07                    3       23               3
8224     8.665153e-04                    5       48               7
8225     2.110712e-06                    5       17               3
8226     1.033151e-03                    1       24               3

      has_us_prefix  has_state_code  starts_with_direction  contains_digits  \
1                 0               1                      0                0
2                 0               1                      0                1
3                 0               1                      0                1
4                 0               1                      0                0
5                 0               0                      0                0
...             ...             ...                    ...              ...
8222              0               1                      0                0
8223              0               0                      0                0
8224              0               1                      0                0
8225              0               1                      0                0
8226              0               0                      0                0

      industry_group_Education  industry_group_Engineering/Construction  \
1                            1                                        0
2                            1                                        0
3                            1                                        0
4                            1                                        0
5                            1                                        0
...                        ...                                      ...
8222                         0                                        0
8223                         0                                        0
8224                         0                                        0
8225                         0                                        0
8226                         0                                        0

      industry_group_Finance  industry_group_Government/Nonprofit  \
1                          0                                    0
2                          0                                    0
3                          0                                    0
4                          0                                    0
5                          0                                    0
...                      ...                                  ...
8222                       0                                    0
8223                       0                                    0
8224                       0                                    0
8225                       0                                    0
8226                       0                                    0

      industry_group_Healthcare  industry_group_Manufacturing/Industrial  \
1                             0                                        0
2                             0                                        0
3                             0                                        0
4                             0                                        0
5                             0                                        0
...                         ...                                      ...
8222                          0                                        0
8223                          0                                        0
8224                          0                                        0
8225                          0                                        0
8226                          0                                        0

      industry_group_Other  industry_group_Other Business/Services  \
1                        0                                       0
2                        0                                       0
3                        0                                       0
4                        0                                       0
5                        0                                       0
...                    ...                                     ...
8222                     0                                       0
8223                     0                                       0
8224                     0                                       0
8225                     0                                       0
8226                     0                                       0

      industry_group_Retail/Hospitality  industry_group_Technology  \
1                                     0                          0
2                                     0                          0
3                                     0                          0
4                                     0                          0
5                                     0                          0
...                                 ...                        ...
8222                                  0                          1
8223                                  0                          1
8224                                  0                          1
8225                                  0                          1
8226                                  0                          1

      industry_group_Transportation
1                                 0
2                                 0
3                                 0
4                                 0
5                                 0
...                             ...
8222                              0
8223                              0
8224                              0
8225                              0
8226                              0

[8116 rows x 19 columns]

In [49]:
print(len(X_test.iloc[y_pred == 1]))
print(len(X_test.iloc[y_pred == 0]))

8116
111

forgot to add id/link to job so we can verify accuracy -- thats the next step